* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    color: white;
    width: 1000px;
    margin:0 auto;
    background-color:black;
    height: 100vh;
    background-image:linear-gradient(168deg,rgb(75, 15, 153),rgb(143, 44, 138))
}

.located-city {
    padding-left:16px;
    background-size:16px;
    background-position:left;
    background-repeat: no-repeat;
}

.temp {
    height: 100px;
    width: 233px;
    font-size: 74px;
    padding-left: 75px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: left;
}

.message {
    width: 600px;
    height: calc(100vh - 50px);
    background-color:rgba(162,45,45,0);
    float: right;
    overflow: scroll;
}

.message::-webkit-scrollbar {
    display: none;
}

